<div class="container-fluid">
  <div id="blur">
    <div id="form">
      <form #user="ngForm" (ngSubmit)="register(user.value)">
        <label for="">User Name</label><br />
        <input
          type="text"
          placeholder="Username..."
          id="user"
          name="name"
          ngModel
        /><br /><br />
        <label for="">Email</label><br />
        <input
          type="text"
          placeholder="Email..."
          id="email"
          name="email"
          ngModel
        /><br /><br />
        <label for="">Password</label><br />
        <input
          type="password"
          placeholder="Password..."
          id="pass"
          name="password"
          ngModel
        /><br /><br />
        <input type="submit" id="btnSign" value="Register" /><br />
        <input type="submit" id="btnLogin" routerLink="/login" value="Login" />
      </form>
    </div>
  </div>
</div>
